
#t2{
	
	text-align: center;
    background-color: black; 
    color: white;
}

#outer
{
	padding:0;
	margin:0;
	/* background-color: red; */
	background: url(../images/1.jpg)no-repeat 0px 0px; 
	background-size:cover;
	background-attachment:fixed;
	background-position: 50% 50%;
} 
#inner
{
	width: 30%;
    margin: 0 auto;
    float: right;
    background: rgba(255, 255, 255, 0.75);
    padding: 2em;
    margin-right: 5%;
    box-sizing: border-box;
}
#agile-heading h1 {
    font-size: 50px;
    font-weight: 500;
    text-align: center;
    text-transform: capitalize;
    letter-spacing: 1px;
    color: #fff;
    margin: 0.5em 0 0.3em;
}
input[type="submit"] {
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    text-transform: capitalize;
    letter-spacing: 1px;
    padding: 0.4em 0.4em;
    width: 40%;
    margin: 0.5em auto 0;
    display: block;
    border: none;
    outline: none;
    background: rgba(245, 9, 94, 0.71);
    color: #fff;
	cursor:pointer;
	box-sizing: border-box;
}

